name: Build

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60

    strategy:
      matrix:
        os:
          - ubuntu-latest
        node-version:
          - 13

    steps:
    - uses: actions/checkout@master

    - name: Set up Node.js version ${{ matrix.node-version }}
      uses: actions/setup-node@v2.1.5
      with:
        node-version: ${{ matrix.node-version }}
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'

    - name: Install dependencies
      run: |
        npm install

    # NOTE: Do NOT use trailing slashes in the URLs.
    # ATTENTION: `BASE_URL` must have the HTTP(S) protocol, but other URLs must not.
    - name: Build
      env:
        CI: false
        BUILD_ENV: production

      run: |
        npm run build

    - name: Prune
      env:
        CI: false
        BUILD_ENV: production

      run: |
        npm prune --production